*{
    margin: 0;
    padding: 0;
}

.contenedor-grid{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    grid-template-areas:
     "seis tres uno"
     ". . ."
     "cuatro dos cinco";
    
}

.contenedor-grid div {
    border: 2px solid black;
    font-size: 50px;
}

.elemento-1{
    background-color: yellow;
    grid-area: uno;


}

.elemento-2{
    background-color: rgb(47, 105, 19);
    grid-area: dos;


}

.elemento-3{
    background-color: rgb(90, 21, 99);
    grid-area: tres;


}

.elemento-4{
    background-color: rgb(52, 92, 102);
    grid-area: cuatro;


}

.elemento-5{
    background-color: rgb(160, 25, 25);
    grid-area: cinco;


}.elemento-6{
    background-color: rgb(17, 155, 90);
    grid-area: seis;


}