/* Esto es fondo con parallax */

body{
    background-color: rgb(11, 0, 41);
    background-image: url(../Recursos/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    background-position: center;
    
    

}

/* Esto es el estilo de la barra superior*/

nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    margin: auto;
    font-weight: 700px;
}

ul{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
    

}

li{
    font-size: 4vh;
    color: aliceblue;
    font-family:monospace;
    font-weight: 700px;
}

/* Esto es el titulo y subtitulo */

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 700px;
}

/*Esto es la nave y su contenedor*/

.ship{
    height: 100%;
    width: 100%;
}

.ship img{
    width: 20%;
    height: 100%;

    transition: right .1s ease-in-out;
    left: 0;
    z-index: 100;
    position: absolute;
    rotate: 90deg;
    translate: translate("-50%");

}

/*Esto es el contenedor con las colecciones*/

.ContenedorColecciones{
    display: grid;
    width: 100%;
    height: 100%;
    border:  0px;
    display: grid;
    gap: 5px;
    grid-template-rows: 40;
    grid-template-columns: 40;
    justify-content: center space-evenly;
    align-items: center;
}

/*   Estas son las celdas que contienen los logos */

.P1{
    
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start:1 ;
    grid-row-end: 5;
    
}

.P2{
    grid-column-start: 14;
    grid-column-end: 24;
    grid-row-start:1 ;
    grid-row-end: 5;
    
}

.P3{
    grid-column-start: 26;
    grid-column-end: 36;
    grid-row-start:1 ;
    grid-row-end: 5;
    
}

.P1 img, .P2 img, .P3 img{
    width: 100%;
    height: 100%;
}

footer{
    color: black;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
}

/* Esto es el footer */

footer img{
    align-self: center;
}



