*{
    margin: 0px;
    padding: 0px;

}

body{
    width: 100vw;
    height: 100vh;



}
.contenedor-grid{
    width: 100%;
    height: 100%;
    border: 0px;
    display: grid;
    grid-template-rows: repeat(20,50px);
    grid-template-columns: repeat(20,50px);
    font-family:Arial, Helvetica, sans-serif;
    gap: 5px;
    
}

.contenedor-grid div {
    border: 2px solid black;
    font-size: 30px;
    padding: 5px;
    border-radius: 20px;
    
}

.Elemento1{
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: red;
    opacity: 0;
    transition: opacity 2s;
}

.Elemento2:hover{
    font-size: 200px;
}

.Elemento2{
    grid-column-start:15 ;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 7;
    font-size: 30px;
    transition: font-size 2s;
}

#RedPikmin{
    width: 50%;
    height: 50%;
    
    transition: width 2s ;
}

#YellPikmin{
    width: 50%;
    height: 50%;

    transition: height 1s;
}

#BluePikmin{
    width: 50%;
    height: 50%;

    transition: width 1s;
    transition: height 1s;
}

.Elemento3{
    grid-column-start:1 ;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 21;
    transition: width 2s;
}

.Elemento4{
    grid-column-start:10;
    grid-column-end: 20;
    grid-row-start: 7;
    grid-row-end: 21;
    transition: height 1s ;
}

.Elemento5{
    grid-column-start:20;
    grid-column-end: 30;
    grid-row-start: 7;
    grid-row-end: 21;
    transition: width 1s;
    transition: height 1s;
}



