*{
    margin: 5px;
    padding: 5px;
}

.contenedor-grid{
    width: 800px;
    height: 800px;
    border:  0px;
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(20,50px);
    grid-template-columns: repeat(20,50px);
    font-family:Arial, Helvetica, sans-serif;
    
    
}

.contenedor-grid div {
    border: 2px solid black;
    font-size: 30px;
    border-radius: 20px;
    padding: 5px;
    
}

.elemento-1{
    background-color: rgb(255, 255, 255);
    grid-area: uno;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;

}

.elemento-2{
    background-color: rgb(255, 255, 255);
    grid-area: dos;
    grid-column-start: 11;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 3;


}

.elemento-3{
    background-color: rgb(255, 255, 255);
    grid-area: tres;
    grid-column-start: 20;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 3;

}

.elemento-4{
    background-color: rgb(255, 255, 255);
    grid-area: cuatro;
    grid-column-start: 16;
    grid-column-end: 18;
    grid-row-start: 1;
    grid-row-end: 3;
}

.elemento-5{
    background-color: rgb(255, 255, 255);
    grid-area: cinco;
    grid-column-start: 18;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 3;
}.elemento-6{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 11;
    grid-column-end: 30;
    grid-row-start: 3;
    grid-row-end: 5;
}
.elemento-7{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 30;
    grid-row-start: 5;
    grid-row-end: 6;
}
.elemento-8{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 13;
}
.elemento-9{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 6;
    grid-column-end: 16;
    grid-row-start: 6;
    grid-row-end: 13;
}
.elemento-10{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 16;
    grid-column-end: 30;
    grid-row-start: 6;
    grid-row-end: 19;
}
.elemento-11{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 13;
    grid-row-end: 19;
}
.elemento-12{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 19;
}
.elemento-13{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 13;
    grid-row-end: 19;
}
.elemento-14{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    text-align: center;
    grid-column-start: 13;
    grid-column-end: 16;
    grid-row-start: 13;
    grid-row-end: 19;
}
.elemento-15{
    background-color: rgb(255, 255, 255);
    grid-area: seis;
    grid-column-start: 1;
    grid-column-end: 30;
    grid-row-start: 19;
    grid-row-end: 22;
}