*{
    margin: 0;
    padding: 0;

}

body{
    width: 100vw;
    height: 100 vh;
    background: lightgreen;
}

nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(38, 112, 44);
    margin: auto;
}

ul{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;

}

li{
    font-size: 4vh;
    color: aliceblue;
}

/**/

header{
    height: 85vh;
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#masFrente{
    width: 50%;
    bottom: -50%;
}

#frente{
    width: 100%;
    bottom: 0;
}

#fondo{
    width: 100%;
    bottom: 0;
}

.titulo{
    color: rgb(255, 255, 255);
    font-size: 10vh;

    position: absolute;
    top: 25%;
    right: 0;

    transform: translate("-50%");

    z-index: 100;
    margin: 2vh;

    text-shadow: 10px 0px 0px black ;
    transition: right .2s ease-in-out;
}

main{
    height: 100vh;
}