/* Esto es fondo con parallax */

body{

    background-image: url(P2Recursos/Pikmin2map.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    background-position: center;
}

/* Esto es el estilo de la barra superior*/

nav{
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    margin: auto;
    font-weight: 700px;
}

ul{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
    

}

li{
    font-size: 4vh;
    color: aliceblue;
    font-family:monospace;
    font-weight: 700px;
}

/* Esto es el grid que contiene las imagenes*/


.Coleccion{
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 800px;
    border:  0px;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(20,50px);
    grid-template-columns: repeat(20,50px);
    padding: 0px;
}

.img1{
    grid-column-start: 1;
    grid-column-end: 7;

    grid-row-start: 2;
    grid-row-end: 5;
    transition: width .5s;
    transition: height .5s;
}

.img2{
    grid-column-start: 7;
    grid-column-end: 14;

    grid-row-start: 1;
    grid-row-end: 8;
    transition: width .5s;
    transition: height .5s;

}

.img3{
    grid-column-start: 14;
    grid-column-end: 21;

    grid-row-start: 1;
    grid-row-end: 10;
    transition: width .5s;
    transition: height .5s;
}

.img4{
    grid-column-start: 1;
    grid-column-end: 7;

    grid-row-start: 5;
    grid-row-end: 10;
    transition: width .5s;
    transition: height .5s;
}

.img5{
    grid-column-start: 7;
    grid-column-end: 14;

    grid-row-start: 5;
    grid-row-end: 14;
    transition: width .5s;
    transition: height .5s;
}

.img6{
    grid-column-start: 14;
    grid-column-end: 21;

    grid-row-start: 10;
    grid-row-end: 16;
    transition: width .5s;
    transition: height .5s;
}


.img1 img, .img2 img, .img3 img, .img4 img, .img5 img, .img6 img{
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
    place-items: center;
    transition: width .5s;
    transition: height .5s;
    transition: rotate 1s;
}